{% extends 'base.html.twig' %}

{% block title %}Vos favoris - FlockYou{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">

    <div class="container">
        <h2 class="deepshadow">Vos favoris</h2>
        <div class="login-form bg-light py-3 px-3">
            {% if products | length > 0 %}
            {% for product in products %}
                <div class="fav row">
                    <div class="image col-2">
                        <a href="{{ path('product', {'id': product.product.id, 'team': product.product.team.name}) }}"><img
                                    src="{{ asset(product.product.image) }}"></a>
                    </div>
                    <div class="info col-8">
                        <h4>{{ product.product.team.name | upper }} - {{ product.product.state.state | upper }}</h4>
                        {% if product.product.comments | length > 0 %}
                            {% include 'products/rating.html.twig' with {'rating': product.product.getAvgRating} %}
                        {% else %}
                            (Ce produit n'a pas encoré été noté)
                        {% endif %}
                        <h5 class="price mt-4">{{ product.product.price }} €</h5>
                    </div>
                    <div class="action col-2">
                        <a href="{{ path('favorites_product_destroy', {'id': product.product.id}) }}"
                           style="color: red"><i class="suppr far fa-times-circle pull-right"></i></a>
                    </div>
                </div>
                <hr>
            {% endfor %}
            {% else %}
                <div class="alert alert-danger">
                    Vous n'avez aucun favoris...
                </div>
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}