{% extends 'base.html.twig' %}

{% block title %}Votre panier - Flockyou{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("build/cart.css") }}"/>
    <h2 class="deepshadow">Votre panier</h2>
    <div class="cart">
        <div class="d-flex bd-highlight">
            <div class="one p-2 flex-md-fill bd-highlight m-1">
                <h3 class="mb-3">VOS PRODUITS</h3>
                {{ dump(cart) }}
                <a href="{{ path('home') }}" style="color: #001b44"><p>Continuer mes achats <i class="fas fa-arrow-right ml-2"></i></p></a>
                <div class="total">
                    <b>Total :</b><br>
{#                    {{ total }} €#}
                </div>

                {% if cart | length > 0 %}
                    <ul>
                        {% for product in cart %}
                            {{ dump(product) }}
                            <li>
                                {#                                <a href="{{ path('product', {'id': product.id, 'name': product.team.name }) }}">#}
                                <div class="image">
                                    <img src="{{ asset(product.image) }}" class="mr-3">
                                </div>
                                {#                                </a>#}
                                <div class="info pl-5">
                                    <a href="{{ path('cart_destroy', {'cid': app.user.cart.id ,'id': product.id}) }}" style="color: red"><i class="suppr far fa-times-circle pull-right"></i></a>
                                    <h4>{{product.team.name | upper}} - {{product.state.state | upper}}</h4>
                                    {% if product.comments | length > 0 %}
                                        {% include 'products/rating.html.twig' with {'rating': product.getAvgRating} %}
                                    {% else %}
                                        (Ce produit n'a pas encoré été noté)
                                    {% endif %}
                                    <h5 class="mt-2">Taille : {{ product.size.name }} </h5>
                                    <h5>Flocage : {{ product.flocage.flocage }}</h5>
                                    {% if product.quantity > 1 %}
                                        <p class="price-precision">({{ product.quantity }} x {{ product.price }}€)</p>
                                    {% endif %}
                                    <h5>Quantité : <input type="number" id="quantity" name="quantity" value="{{product.quantity}}" style="width: 15%"></h5>

                                    <h5 class="price">{{product.price * product.quantity}} €</h5>
                                </div>
                            </li>
                            <hr>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-danger">
                        Aucun produit dans votre panier...
                    </div>
                {% endif %}
            </div>
            <div class="two p-2 flex-md-fill bd-highlight m-3">
                <h3 class="mb-5">DETAILS DE LIVRAISON</h3>
                <div class="m-4">
                    {% for livraison in user.livraisons %}
                        <label for="name">Nom complet</label><input type="text" name="name" id="name" class="name" value="{{ livraison.name }}" required>
                        <label for="phone">Numéro de téléphone</label><input type="text" name="phone" id="phone" class="phone" value="{{ livraison.phoneNumber }}" required>
                        <label for="country">Pays de résidence</label><input type="text" name="country" id="country" class="country" value="{{ livraison.country }}" required>
                        <label for="city">Ville exacte</label><input type="text" name="city" id="city" class="city" value="{{ livraison.city }}" required>
                        <label for="address1">Adresse livraion</label><input type="text" name="address1" id="address1" value="{{ livraison.address }}"
                                                                             class="address1" required>
                        <label for="address2">Adresse 2 (non nécessaire)</label><input type="text" name="address2" id="address2"
                                                                                       class="address2">
                    {% else %}
                        <label for="name">Nom complet</label><input type="text" name="name" id="name" class="name" value="" required>
                        <label for="phone">Numéro de téléphone</label><input type="text" name="phone" id="phone" class="phone" value="" required>
                        <label for="country">Pays de résidence</label><input type="text" name="country" id="country" class="country" value="" required>
                        <label for="city">Ville exacte</label><input type="text" name="city" id="city" class="city" value="" required>
                        <label for="address1">Adresse livraion</label><input type="text" name="address1" id="address1" value=""
                                                                             class="address1" required>
                        <label for="address2">Adresse 2 (non nécessaire)</label><input type="text" name="address2" id="address2"
                                                                                       class="address2">
                    {% endfor %}
                </div>
            </div>
            <div class="three p-2 flex-md-fill bd-highlight m-3">
                <h3 class="mb-5">DONNÉES BANCAIRES</h3>
                <div class="credit_card">
                    <img src="{{ asset('build/images/ressources/fake_credit_card.png') }}" class="mb-5">
                    {% for bank in user.banks %}
                        {% for livraison in user.livraisons %}
                            <label for="name_titu">Nom titulaire de carte</label><input type="text" name="name" id="name_titu"
                                                                                        class="name_titu" value="{{ livraison.name }}">
                        {% endfor %}
                        <label for="card_num">Numéro de carte</label><input type="text" name="card_num" id="card_num"
                                                                            class="card_num" value="{{ bank.cartNumber }}">
                        <div class="expiration mr-5">
                            <label for="month">Date expiration</label><input type="month" name="month" id="month" class="month" value="{{ bank.expirationDate|date("m-Y") }}">
                            {#                    <input type="month" name="month" id="month" class="month">#}
                        </div>
                        <div class="code">
                            <label for="code">Code carte</label><input type="text" name="code" id="code" class="code" value="{{ bank.cartCode }}">
                        </div>
                    {% else %}
                        <label for="card_num">Numéro de carte</label><input type="text" name="card_num" id="card_num"
                                                                            class="card_num" value="">
                        <div class="expiration mr-5">
                            <label for="month">Date expiration</label><input type="month" name="month" id="month" class="month">
                            {#                    <input type="month" name="month" id="month" class="month">#}
                        </div>
                        <div class="code">
                            <label for="code">Code carte</label><input type="text" name="code" id="code" class="code" value="">
                        </div>
                    {% endfor %}
                </div>
{#                {{ form_start(form) }}#}
{#                {{ form_widget(form) }}#}
                <button type="submit" class="btn btn-primary btn-lg m-5">Valider le panier</button>
{#                {{ form_end(form) }}#}
            </div>
        </div>
    </div>
{% endblock %}