{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card bg-primary text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                            <div class="col-8">
                                {% if stats.users > 1 %}
                                <h3 class="card-title">{{ stats.users }} utilisateurs</h3>
                                {% else %}
                                <h3 class="card-title">{{ stats.users }} utilisateur inscrit</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-dark mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-hotel fa-3x"></i>
                            </div>
                            <div class="col-8">
                                {% if stats.products > 1 %}
                                <h3 class="card-title">{{ stats.products }} produits achetés</h3>
                                {% else %}
                                <h3 class="card-title">{{ stats.products }} produit acheté</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-warning mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-folder fa-3x"></i>
                            </div>
                            <div class="col-8">
                                {% if stats.commands > 1 %}
                                <h3 class="card-title">{{ stats.commands }} commandes</h3>
                                {% else %}
                                <h3 class="card-title">{{ stats.commands }} commande</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-success mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-comments fa-3x"></i>
                            </div>
                            <div class="col-8">
                                {% if stats.comments > 1 %}
                                    <h3 class="card-title">{{ stats.comments }} avis laissés</h3>
                                {% else %}
                                    <h3 class="card-title">{{ stats.products }} avis laissé</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center">
                <div class="card bg-info py-3 px-3">
                    <h5 class="alert-heading">Ventes 7 derniers jours</h5>
                    <strong>{{ stats.recentsCommands }}</strong>
                </div>
            </div>
            <div class="col text-center">
                <div class="card bg-info py-3 px-3">
                    <h5 class="alert-heading">Revenus 7 derniers jours</h5>
                    <strong>{{ stats.recentsTotaux }} €</strong>
                </div>
            </div>
            <div class="col text-center">
                <div class="card bg-info py-3 px-3">
                    <h5 class="alert-heading">Revenus totaux</h5>
                    <strong>{{ stats.totaux }} €</strong>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="cart bg-success py-3 px-3">
                    <h3 class="alert-heading mb-3"><i class="fas fa-arrow-up mr-3"></i>Les produits populaires</h3>
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Équipe</th>
                                <th class="text-center">Moyenne</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in bestProducts %}
                            <tr>
                                <td><img src="{{ asset(product.image) }}" style="width: 15%"></td>
                                <td>{{ product.name }}</td>
                                <td class="text-center">
                                    <span class="badge badge-success">
                                        {{ product.note | number_format(1, ",", " ") }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="cart bg-danger py-3 px-3">
                    <h3 class="alert-heading mb-3"><i class="fas fa-arrow-down mr-3"></i>Les produits moins populaires</h3>
                    <table class="table table-hover table-dark">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Équipe</th>
                            <th class="text-center">Moyenne</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in worstProducts %}
                            <tr>
                                <td><img src="{{ asset(product.image) }}" style="width: 15%"></td>
                                <td>{{ product.name }}</td>
                                <td class="text-center">
                                    <span class="badge badge-danger">
                                        {{ product.note | number_format(1, ",", " ") }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
