{% extends 'base.html.twig' %}

{% block title %}Euro 2020 - Flockyou{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("build/cl.css") }}"/>
    <img src="{{asset('build/images/leagues/eurobanner.png')}}" class="img-fluid" alt="Responsive image" style="height: 400px; box-shadow: 1px 3px 20px black;">
    <div class="sidenav">
        <li class="nav-item dropright">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipes :
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">
                    <input type="checkbox" id="psg" name="psg" checked>
                    <label for="scales">Paris-Saint-Germain</label>
                </a>
                <a class="dropdown-item">
                    <input type="checkbox" id="psg" name="psg" checked>
                    <label for="scales">FC Barcelone</label>
                </a>
            </div>
        </li>
        <a href="#">
            <input type="checkbox" id="psg" name="psg" checked>
            <label for="scales">Domicile</label>
        </a>
        <a href="#">
            <input type="checkbox" id="psg" name="psg" checked>
            <label for="scales">Extérieur</label>
        </a>
        <a href="#">
            <input type="checkbox" id="psg" name="psg" checked>
            <label for="scales">Third</label>
        </a>
        <a href="#">Contact</a>
        <a href="#">Contact</a>
        <a href="#">Contact</a>
        <a href="#">Contact</a>
    </div>
    <div class="main">
        <h2 class="deepshadow">Euro 2020</h2>
        <div class="mainwrapper row">
            {{ render(controller('App\\Controller\\ProductsController::index', {} )) }}
            {{ render(controller('App\\Controller\\ProductsController::index', {} )) }}
            {{ render(controller('App\\Controller\\ProductsController::index', {} )) }}
            {{ render(controller('App\\Controller\\ProductsController::index', {} )) }}
        </div>
    </div>
{% endblock %}
