{% extends 'base.html.twig' %}

{% block title %}{{ league_name }} - Flockyou{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("build/product_card.css") }}"/>
    <link rel="stylesheet" href="{{ asset("build/cl.css") }}"/>
    {% if league_name == 'Ligue des champions' %}
        <div class="product-league" style="background-image: url({{ asset('build/images/leagues/clbanner.jpg') }}); height: 300px">
            <div class="container">
                <h2 class="deepshadow">{{ league_name }}</h2>
            </div>
        </div>
    {% else %}
        <div class="product-league" style="background-image: url({{ asset('build/images/leagues/eurobanner.png') }}); height: 300px">
            <div class="container">
                <h2 class="deepshadow">{{ league_name }}</h2>
            </div>
        </div>
    {% endif %}
    <div class="sidenav">
        <li class="nav-item dropright">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipes :
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">
                    <input type="checkbox" id="psg" name="psg" checked>
                    <label for="scales">Paris-Saint-Germain</label>
                </a>
                <a class="dropdown-item">
                    <input type="checkbox" id="psg" name="psg" checked>
                    <label for="scales">FC Barcelone</label>
                </a>
            </div>
        </li>
        <a href="#">
            <input type="checkbox" id="psg" name="psg" checked>
            <label for="scales">Domicile</label>
        </a>
        <a href="#">
            <input type="checkbox" id="psg" name="psg" checked>
            <label for="scales">Extérieur</label>
        </a>
        <a href="#">
            <input type="checkbox" id="psg" name="psg" checked>
            <label for="scales">Third</label>
        </a>
        <a href="#">Contact</a>
        <a href="#">Contact</a>
        <a href="#">Contact</a>
        <a href="#">Contact</a>
    </div>
    <div class="main">
        <h3></h3>
        <div class="mainwrapper row">
            {% for product in products %}
                {{ include('products/cardProduct.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
