{% extends 'base.html.twig' %}

{% block title %}{{ league_name }} - Flockyou{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("build/product_card.css") }}"/>
    <link rel="stylesheet" href="{{ asset("build/cl.css") }}"/>
    {% if league_name == 'Ligue des champions' %}
        <div class="product-league" style="background-image: url({{ asset('build/images/leagues/clbanner.jpg') }}); height: 300px">
            <div class="container">
                <h2 class="deepshadow">{{ league_name }}</h2>
            </div>
        </div>
    {% else %}
        <div class="product-league" style="background-image: url({{ asset('build/images/leagues/eurobanner.png') }}); height: 300px">
            <div class="container">
                <h2 class="deepshadow">{{ league_name }}</h2>
            </div>
        </div>
    {% endif %}
    <div class="sidenav">
        <li class="nav-item dropright">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipes :
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">
                    <input type="checkbox" id="psg" name="psg" checked>
                    <label for="scales">Paris-Saint-Germain</label>
                </a>
                <a class="dropdown-item">
                    <input type="checkbox" id="psg" name="psg" checked>
                    <label for="scales">FC Barcelone</label>
                </a>
            </div>
        </li>
        <a href="#">
            <input type="checkbox" id="psg" name="psg" checked>
            <label for="scales">Domicile</label>
        </a>
        <a href="#">
            <input type="checkbox" id="psg" name="psg" checked>
            <label for="scales">Extérieur</label>
        </a>
        <a href="#">
            <input type="checkbox" id="psg" name="psg" checked>
            <label for="scales">Third</label>
        </a>
        <a href="#">Contact</a>
        <a href="#">Contact</a>
        <a href="#">Contact</a>
        <a href="#">Contact</a>
    </div>
    <div class="main">
        <h3></h3>
        <div class="mainwrapper row">
            {% for product in products %}
                {{ include('products/cardProduct.html.twig') }}
{#                <div class="card">#}
{#                    {% if league_name == 'Euro 2020' %}#}
{#                    <div class="card-head">#}
{#                    {% else %}#}
{#                    <div class="card-head-cl">#}
{#                    {% endif %}#}
{#                        <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">#}
{#                        <img src="{{ asset(product.image) }}" alt="Shoe" class="product-img">#}
{#                        <div class="product-detail">#}
{#                            <h3>Maillot football</h3>#}
{#                            <p>kjkfkhjiodnzbcezcyuencubezbcncihbrevcrelzcruezbcekzb</p>#}
{#                        </div>#}
{#                        <span class="back-text">#}
{#                      {{ product.team.slug }}#}
{#                    </span>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <div class="product-desc">#}
{#                    <span class="product-title">#}
{#                        <a href="{{ path('product', {'id': product.id }) }}" class="global-link">#}
{#                        <b>{{ product.team.name }}</b><br>#}
{#                            {{ product.state.state }}#}
{#                        </a>#}
{#                    </span>#}
{#                            <span class="product-caption">#}
{#                        {{ product.team.league.name }}#}
{#                      </span>#}
{#                            <span class="product-rating">#}
{#                        <i class="fa fa-star"></i>#}
{#                        <i class="fa fa-star"></i>#}
{#                        <i class="fa fa-star"></i>#}
{#                        <i class="fa fa-star"></i>#}
{#                        <i class="fas fa-star-half-alt"></i>#}
{#                    </span>#}
{#                        </div>#}
{#                        <div class="product-properties">#}
{#                    <span class="product-size">#}
{#                    <h4>Size</h4>#}
{#                        <ul class="ul-size">#}
{#                            {% for size in sizes %}#}
{#                                <li><a href="#" class="active">{{ size.name }}</a></li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </span>#}
{#                        </div>#}
{#                        <span class="product-price">#}
{#                        <b>{{ product.price }}</b>€UR#}
{#                    </span>#}
{#                    </div>#}
{#                </div>#}
            {% endfor %}
        </div>
    </div>
{% endblock %}
