<link rel="stylesheet" href="{{ asset("build/product_card.css") }}"/>
<div class="card">
    {% if product.team.league.name == 'Euro 2020' %}
    <div class="card-head">
    {% else %}
    <div class="card-head-cl">
    {% endif %}
        <img src="{{ asset(product.team.image) }}" alt="logo" class="card-logo">
        <img src="{{ asset(product.image) }}" alt="Jersey" class="product-img">
        <div class="product-detail">
            <h3>Maillot football</h3> Support and Nike Zoom Air come together for a more supportive feel with high-speed
            responsiveness
        </div>
        <span class="back-text">
            {{ product.team.slug }}
        </span>
    </div>
    <a class="product_link" href="{{ path('product', { 'id': product.id, 'name': product.team.name }) }}">
    <div class="card-body">
        <div class="product-desc">
        <span class="product-title">
            <b>{{ product.team.name }}</b>
            <br>
            {{ product.state.state }}
        </span>
            <span class="product-caption">
                {{product.team.league.name}}
              </span>
            <span class="product-rating">
                {% if product.comments | length > 0 %}
                    {% include 'products/rating.html.twig' with {'rating': product.getAvgRating} %}
                {% else %}
                    (Ce produit n'a pas encoré été noté)
                {% endif %}
            </span>
        </div>
        <div class="product-properties">
        <span class="product-size">
            <h4>Tailles :</h4>
                <ul class="ul-size">
                  {% for size in sizes %}
                      <li class="actived">{{ size.name }}</li>
                  {% endfor %}
                </ul>
        </span>
            <span class="product-price">
                <b>{{ product.price }}</b>€
            </span>
        </div>
    </div>
    </a>
</div>
