{% for product in products %}
<div class="card">
    {% if product.team.league.name == 'Euro 2020' %}
    <div class="card-head">
    {% else %}
    <div class="card-head-cl">
    {% endif %}
        <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
        <img src="{{ asset(product.image) }}" alt="Shoe" class="product-img">
        <div class="product-detail">
            <h3>Maillot football</h3> Support and Nike Zoom Air come together for a more supportive feel with high-speed
            responsiveness
        </div>
        <span class="back-text">
            {{ product.team.slug }}
        </span>
    </div>
{#    <a href="{{ path('product', { 'id': product.id}) }}">#}
    <div class="card-body">
        <div class="product-desc">
        <span class="product-title">
            <b>{{ product.team.name }}</b>
            <br>
            {{ product.state.state }}
        </span>
            <span class="product-caption">
                {{product.team.league.name}}
              </span>
            <span class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </span>
        </div>
        <div class="product-properties">
        <span class="product-size">
            <h4>Size</h4>
                <ul class="ul-size">
                  {% for size in sizes %}
                      <li><a href="#" class="active">{{ size.name }}</a></li>
                  {% endfor %}
                </ul>
        </span>
            <span class="product-price">
                <b>{{ product.price }}</b>€
            </span>
        </div>
    </div>
{#    </a>#}
</div>
{% endfor %}