{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/product.css') }}">
    <div class="product-league" style="background-image: url({{ asset('build/images/leagues/championsleague.jpg') }})">
        <div class="container">
            <h2 class="deepshadow">{{ product.team.league.leagueName }}</h2>
        </div>
    </div>
    <div class="container">
        <div class="blank">
            <div class="row">
                <div class="col-md-8 mb-3">
                    <img src="https://picsum.photos/700/400" alt="produit">
                </div>
                <div class="col">
                    <div class="row">
{#                        <div class="col-4">#}
{#                            <img src="https://picsum.photos/100/100" alt="">#}
{#                        </div>#}
                        <div class="col">
                            <h3>{{ product.team.teamName }}</h3>
                            <h4>Maillot - {{ product.state.state }}</h4>
                            <span class="badge badge-pill badge-primary">{{ product.team.league.leagueName }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
