{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">

    <div class="container">
        <h2 class="deepshadow">Mon compte</h2>
        <div class="login-form bg-light py-3 px-3">
            <div class="row align-items-top">
                <div class="col-3 text-center">
                    <img src="https://avatars.io/platform/userId" class="avatar mb-2" alt="avatar">
                    <br>
{#                    {% if command in user.commands %}#}
{#                        {% if user.commands.count > 1 %}#}
{#                            <span class="badge badge-primary">{{ user.commands.count }} commandes passées</span>#}
{#                        {% else %}#}
{#                            <span class="badge badge-primary">{{ user.commands.count }} commande passée</span>#}
{#                        {% endif %}#}
{#                    {% else %}#}
{#                        <span class="badge badge-primary">Aucune commande</span>#}
{#                    {% endif %}#}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_dashboard') }}" class="btn btn-danger mt-2">Administration</a>
                    {% endif %}
                </div>
                <div class="col-9">
                    <h3>Bienvenue <strong>{{ user.username }}</strong> !</h3>
                    {% if user is same as(app.user) %}
                        <div class="mt-3">
                            <a href="{{ path('account_edit') }}" class="btn btn-primary mr-2 mb-2">Éditer mon compte</a>
                            <a href="{{ path('account_password_edit') }}" class="btn btn-dark mb-2">Modifier mon mot de passe</a>
                        </div>
                    {% endif %}
                    {{ dump(app.user.cart) }}
{#                    {% if command in user.commands %}#}
{#                        {% for command in user.commands %}#}
{#                        <div>#}
{#                            {{ command.cart.product.count }}#}
{#                            {% for product in command.cart.product %}#}
{#                                {{ product.team.name }} - {{ product.flocage.flocage }} - {{ product.size.name }}#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                        {% endfor %}#}
{#                    {% else %}#}
{#                        <div></div>#}
{#                    {% endif %}#}
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <hr/>
                    <table class="table table-responsive table-striped">
                        <strong>Adresse de livraison</strong>
                        {% if user is same as(app.user) %}
                            {% if user.livraisons | length > 0 %}
                                <a class="btn-sm btn-secondary ml-2 mb-2 float-right">
                                    <i class="fas fa-plus"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('account_livraison_create') }}"
                                   class="btn-sm btn-success ml-2 mb-2 float-right"><i
                                            class="fas fa-plus"></i></a>
                            {% endif %}
                        {% endif %}
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom complet</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Pays</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for livraison in user.livraisons %}
                            <tr>
                                <td>{{ livraison.id }}</td>
                                <td>{{ livraison.name }}</td>
                                <td>{{ livraison.phoneNumber }}</td>
                                <td>{{ livraison.country }}</td>
                                <td>{{ livraison.city }}</td>
                                <td>{{ livraison.address }}</td>
                                <td><a href="{{ path('account_livraison_edit', {'id': livraison.id}) }}"
                                       class="btn-sm btn-warning"><i
                                                class="fas fa-pen"></i></a>
                                    <a href="{{ path('account_livraison_delete', {'id': livraison.id}) }}"
                                       class="btn-sm btn-danger"><i
                                                class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr/>
                    <table class="table table-striped">
                        <strong>Informations bancaires</strong>
                        {% if user is same as(app.user) %}
                            {% if user.banks | length > 0 %}
                                <a class="btn-sm btn-secondary ml-2 mb-2 float-right">
                                    <i class="fas fa-plus"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('account_bank_create') }}"
                                   class="btn-sm btn-success ml-2 mb-2 float-right"><i
                                            class="fas fa-plus"></i></a>
                            {% endif %}
                        {% endif %}
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom complet</th>
                            <th scope="col">Numéro carte</th>
                            <th scope="col">Date d'expiration</th>
                            <th scope="col">Code secret</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bank in user.banks %}
                            <tr>
                                <td>{{ bank.id }}</td>
                                {% if user.livraisons | length > 0 %}
                                    <td>{{ livraison.name }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ bank.cartNumber }}</td>
                                <td>{{ bank.expirationDate|date('M/Y') }}</td>
                                <td>{{ bank.cartCode }}</td>
                                <td><a href="{{ path('account_bank_edit', {'id': bank.id}) }}"
                                       class="btn-sm btn-warning"><i
                                                class="fas fa-pen"></i></a>
                                    <a href="{{ path('account_bank_delete', {'id': bank.id}) }}"
                                       class="btn-sm btn-danger"><i
                                                class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}