<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="{{ path('home') }}"><img src="{{asset('build/images/ressources/flockyou.png')}}" title="flockyou" alt="logo" style="width: 200px;" class="mr-5"></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            {% for league in leagues %}
            <li class="nav-item">
                <a class="nav-link mr-2" href="{{ path('league', {'league_name': league.name }) }}">
                    <img src="{{ asset(league.image) }}" title="league_logo" alt="league_logo" style="width: 55px; height: 60px; ">
                    {{ league.name }}
                </a>
            </li>
            {% endfor %}
        </ul>

        <!-- Links -->
        <i class="fas fa-search m-3" style="color: white"></i>
        <form class="form-inline">
            <div class="md-form my-0 mr-5">
                <input class="form-control mr-sm-2" type="text" placeholder="Rechercher..." aria-label="Search">
            </div>
        </form>
        {% if app.user %}
            <a href="{{ path('cart') }}" class="mr-3"><i class="fas fa-shopping-cart" style="color: white"></i><span class="badge badge-primary">3</span></a>
            <a href="{{ path('account', {'username' : app.user.username}) }}"><i class="fas fa-user m-3" style="color: white"></i></a>
            <li class="nav-item">
                <a href="{{ path('logout') }}" class="nav-link"><i class="fas fa-sign-out-alt" style="color: white"></i></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{{ path('login') }}" class="nav-link">Se connecter</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('register') }}" class="nav-link">S'inscrire</a>
            </li>
        {% endif %}
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->