<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="{{ path('home') }}"><img src="{{asset('build/images/ressources/flockyou.png')}}" title="flockyou" alt="logo"></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('championsleague') }}">
                    <img src="{{asset('build/images/leagues/championsleague.png')}}" title="cl" alt="cl" style="width: 70px; height: 70px" class="mr-2">
                    Champion's League
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('euro') }}">
                    <img src="{{asset('build/images/leagues/euro.png')}}" title="euro" alt="euro" style="width: 60px; height: 70px" class="mr-2">
                    Euro 2020
                </a>
            </li>
        </ul>

        <!-- Links -->
        <i class="fas fa-search m-3" style="color: white"></i>
        <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Rechercher..." aria-label="Search">
            </div>
        </form>
        <a href="{{ path('cart') }}"><i class="fas fa-shopping-cart m-3" style="color: white"></i></a>
        <a href="{{ path('cart') }}"><i class="fas fa-user m-3" style="color: white"></i></a>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->