{% extends 'base.html.twig' %}

{% block title %}Mon compte - {{ user.username }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("build/form.css") }}"/>

    <div class="container">
        <h2 class="deepshadow">Mon compte</h2>
        <div class="login-form bg-light py-3 px-3">
            <div class="row align-items-center">
                <div class="col-3 text-center">
                    <img src="https://img.icons8.com/color/48/000000/boy-avatar.png" class="avatar mb-3" alt="Avatar">
                    <br>
                    <span class="badge badge-primary">3 commandes</span>
                </div>
                <div class="col-9">
                    <h1>Bienvenue {{ user.username }} !</h1>
                    {% if user is same as(app.user) %}
                        <div class="mt-3">
                            <a href="{{ path('account_edit') }}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
                            <a href="{{ path('account_password_edit') }}" class="btn btn-primary mb-2">Modifier mon mot de passe</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
