{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/form.css') }}">

    <div class="container">
        <h2 class="deepshadow">Commande <br/>{{ command.nbCommand }}</h2>
        <div class="login-form bg-light py-3 px-3">
            {#            {% for command in user.commands %}#}
            <div class="card mb-3">
                <div class="card-head p-2">
                    <div>
                        <h4><b>Commande passée le :</b> {{ command.createdAt | date('d/m/Y') }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card mb-3">
                        <div class="card-head p-2">
                            <h5>Détails de livraison</h5>
                        </div>
                        <div class="card-body p-2">
                            {% for livraison in user.livraisons %}
                                {{ livraison.name }}<br/>
                                {{ livraison.phoneNumber }}<br/>
                                {{ livraison.address }}<br/>
                                {{ livraison.city }}<br/>
                                {{ livraison.country }}
                            {% endfor %}
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th></th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commandProduct in command.commandProducts %}
                            <tr>
                                <td scope="row"><img style="width: 80px;"
                                                     src="{{ asset(commandProduct.CartProduct.product.image) }}"></td>
                                <td>
                                    {{ commandProduct.CartProduct.product.team.name }} - {{ commandProduct.CartProduct.product.state.state }}<br />
                                    <b>Flocage : </b>{{ commandProduct.CartProduct.flocage.flocage }}<br />
                                    <b>Taille : </b>{{ commandProduct.CartProduct.size.name }}
                                </td>
                                <td>{{ commandProduct.CartProduct.quantity }}</td>
                                <td>{{ commandProduct.CartProduct.product.price }} €</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="float-right"><b>Montant total :</b> {{ command.total }} €</div>
                </div>
            </div>
            {#            {% endfor %}#}
        </div>
    </div>
{% endblock %}
